/*********************************** TABS - ABAS ***********************************/

.tabs {
	.tabbar {
		background-color: color($colors, primary);
		.tab-button {
			color: color($colors, white);
			.tab-button-icon {
				color: color($colors, white);
			}
			.tab-button-text {
				font-family: "sourcesanspro-bold", sans-serif;
				font-size: 1.05rem;
			}
			&[aria-selected=true] {
				color: color($colors, secondary);
				.tab-button-icon {
					color: color($colors, secondary);
				}
			}
			.tab-button-text {
				text-transform: uppercase;
			}
		}
	}
}