<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Grupos" tabIcon="list"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Ouvidorias" tabIcon="call"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Atendimento" tabIcon="pin"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Taxas" tabIcon="trending-up"></ion-tab>
</ion-tabs>