<ion-header>
  <ion-navbar>
    <ion-title>
      <h6>TARIFAS</h6>
    </ion-title>
    <ion-buttons end class="botao-pessoa">
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar grupos..."></ion-searchbar>
</ion-header>

<ion-content>

  <ion-grid>

        <ion-row>
            <ion-col col-12>
                <h4 class="content-title">GRUPOS CONSOLIDADOS</h4>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
              <ion-list>
                <button text-wrap ion-item *ngFor="let cg of groups_consolidated" (click)="itemTapped(cg)">
                  {{ cg.Nome }}
                </button>
              </ion-list>
            </ion-col>
        </ion-row>

  </ion-grid>

</ion-content>