<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>TARIFAS</h6>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col col-12>
                <h4 class="content-title">SELECIONE UMA TAXA</h4>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>
                <button class="big-rate-button" (click)="onButtonClick('selic')" block>
                    <ion-img width="64" height="64" src="assets/imgs/icone-selic.svg"></ion-img>
                    Selic
                </button>
            </ion-col>
            <ion-col col-6>
                <button class="big-rate-button" (click)="onButtonClick('ipca')" block>
                    <ion-img width="64" height="64" src="assets/imgs/icone-ipca.svg"></ion-img>
                    IPCA
                </button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>