/*********************************** BOTÕES GRANDES DE SELEÇÃO - BIG SELECTION BUTTONS ***********************************/


.big-rate-button {
	width: 100%;
    border: 1px solid color($colors, primary);
    background-color: color($colors, white);
    padding: 8px;
    color: color($colors, primary);
    font-size: 1.75rem;
    text-align: center;
    font-family: "sourcesanspro-bold", sans-serif;
	ion-img {
		background-color: color($colors, white);
		clear: both;
	    display: table;
	    margin: 0 auto;
	    padding-bottom: 16px;
	}
	&:hover,
	&:focus {
		opacity: 0.7;
	}
	img {
		width: 64px;
		height: 64px;
	}
}