// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


$grid-padding-width: 16px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:          #1F55AD,
  primarylight:     #4a7ed4,
  secondary:        #f3a929,
  secondarylight:   #fdd692,
  secondarylighter: #fff9ef,
  danger:           #F66252,
  light:            #f4f4f4,
  dark:             #4d4d4d,
  gray:             #8b8b8b,
  black:            #000,
  white:	          #fff
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@font-face {
	font-family: "sourcesanspro-regular";
	font-weight: 400;
	src: url("../assets/fonts/sourcesanspro/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "sourcesanspro-bold";
	font-weight: 700;
	src: url("../assets/fonts/sourcesanspro/SourceSansPro-Bold.ttf") format("truetype");
}

$font-family-md-base: "sourcesanspro-regular";
$font-family-ios-base: "sourcesanspro-regular";
$font-family-wp-base: "sourcesanspro-regular";
