<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>TARIFAS</h6>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col col-12>
                    <h4 class="content-title">POSTOS DE ATENDIMENTO ELETRÔNICO</h4>
                    <p class="texto-obs">
                        Você pode preencher um ou mais campo(s) abaixo. Tentaremos localizar os postos de atendimento eletrônico(s) nos critérios da pesquisa.
                    </p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>Instituição</ion-label>
                    <ion-input [(ngModel)]="institutionName" placeholder="Ex.: Banco do Brasil"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Logradouro</ion-label>
                    <ion-input [(ngModel)]="address" placeholder="Ex.: Rua Santa Catarina"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Município</ion-label>
                    <ion-input [(ngModel)]="city" placeholder="Ex.: Belo Horizonte"></ion-input>
                </ion-item>
                <br/>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <button ion-button full (click)='startSearch();'>Localizar</button>
            </ion-col>
        </ion-row>

        <!--<ion-row>
            <ion-col col-12>
                    <h4>OU LOCALIZAR TODOS OS MAIS PRÓXIMOS</h4>
                    <p class="texto-obs">
                        Toque no botão abaixo para tentar localizar TODOS os postos de atendimento eletrônico mais próximos de você.
                    </p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <button ion-button full (click)='searchNear();'>Localizar todos</button>
            </ion-col>
        </ion-row> -->

    </ion-grid>

</ion-content>