// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




// SCSS by Thiago Mallet (thiago.mallet@gmail.com)




/*********************************** ESTRUTURA - STRUCTURE ***********************************/

html,
body {
	font-family: "sourcesanspro-regular", sans-serif;
}




/*********************************** TIPOGRAFIA - TYPOGRAPHY ***********************************/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "sourcesanspro-bold", sans-serif;
	font-weight: 700;
	color: color($colors, primary);
}

.toolbar-title{
	h6 {
		margin-top: 10px;
	}
}

.scroll-content {
	.content-title {
			margin-top: 0;
	}
}

ion-app.md,
ion-app.ios {
	font-family: "sourcesanspro-regular", sans-serif;	
}

strong {
	font-family: "sourcesanspro-bold", sans-serif;
	font-weight: 700;
}

.texto-obs {
	color: color($colors, gray);
	margin-top: 0;
}

.page-title {
	margin-top: 0;
}



/*********************************** TOOLBAR ***********************************/

.toolbar {
	.toolbar-background {
		&-md,
		&-ios {
			background-color: color($colors, primary);
		}
	}
	.toolbar-title h6,
	.bar-buttons .bar-button-default {
		color: color($colors, white);
		&:hover:not(.disable-hover) {
			color: color($colors, white);
			opacity: 0.7;
		}
	}
	.toolbar-title-ios {
		margin-top: 6px;
		font-weight: 400;
	}	
}





/*********************************** NAVBAR ***********************************/



.bar-buttons,
.bar-button {
	color: color($colors, white);
	height: 42px;
	&:hover:not(.disable-hover){
		color: color($colors, white);
		opacity: 0.7;
	}
	.button-inner {
		flex-flow: column wrap;
		.icon {
			font-size: 3rem;
		}
		span {
			font-size: 1rem;
			text-transform: uppercase;
		}
	}
}

.botao-pessoa {
	padding: 3px 12px 0 0;
	span span {
		margin-top: 5px;
	}
	.bar-button-ios .button-inner span {
		margin-top: 2px !important;
	}
}

.bar-buttons-ios {
	.button-inner span {
		margin-top: -3px;
	}
}




/*********************************** MENU ***********************************/


.menu-inner {
	.toolbar-ios {
		height: 50px;
	}
	.item {
		color: color($colors, primary);
		&.item-md .item-inner {
			margin-left: 0;
		}
		.item-inner {
			.label {
				&.label-md,
				&.label-ios {
					color: color($colors, primary);
				}
			}
		}
		.icon {
			margin: 0;
			font-size: 2.5rem;
			border-bottom: 1px solid color($colors, secondarylight);
			padding: 10px 0 10px 8px;
		}
		&:last-child .icon {
			border-bottom: 0;
		}
	}
	.label-ios {
		letter-spacing: 0px;
	}
}

.item-ios[detail-push] .item-inner, 
button.item-ios:not([detail-none]) .item-inner, 
a.item-ios:not([detail-none]) .item-inner {
    background-image: none;
}





/*********************************** LISTAS - LISTS ***********************************/

.item-md,
.item-ios {
	padding-left: 0;
	&.activated {
		background-color: color($colors, secondarylighter);
	}
	p {
		color: color($colors, dark);
	}
}

.list-md,
.list-ios {
	.item-block .item-inner {
		border-bottom: 1px solid color($colors, secondarylight);
		color: color($colors, primary);
	}
}

.list-ios { 
	> .item-block:first-child {
		border-top: 0;
	}
	> .item-block:last-child, 
	.item-wrapper:last-child .item-block {
		border-bottom: 0;
	}
}





/*********************************** CARDS ***********************************/

.card {
	&.card-md,
	&.card-ios {
		border: 1px solid color($colors, secondarylight);
		h3 {
			color: color($colors, primary);
			font-family: "sourcesanspro-bold", sans-serif;
			font-weight: 700;
			color: color($colors, primary);	
			margin-bottom: 16px;
			font-size: 1.5rem;
		}
		p {
			color: color($colors, dark);
		}
	}
}





/*********************************** LINKS ***********************************/

.full-link {
	display: table;
	width: 100%;
	height: 36px;
	line-height: 36px;
}





/*********************************** ELEMENTOS DE FORMUILÁRIO - FORM ITEMS ***********************************/


.label {
	&.label-md,
	&.label-ios { 
		color: color($colors, primarylight);
	}
}

.input,
.select-text {
	color: color($colors, dark);
}

.item.item-block {
	&.item-select,
	&.item-input { 
		.item-inner {
			border-color: color($colors, primarylight);
		}
	}
}




/*********************************** BOTÕES - BUTTONS ***********************************/

.button-inner {
	font-family: "sourcesanspro-bold", sans-serif;
}




/*********************************** BARRA DE BUSCAS - SEARCHBAR ***********************************/


.searchbar-ios,
.searchbar-md {
	background-color: color($colors, primary);
	.searchbar-input {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.button-clear-ios {
	color: color($colors, white);
}




/*********************************** IMAGENS - IMGS ***********************************/

ion-img {
	background-color: color($colors, white);
}
.img-header {
	float: left;
	margin-right: 16px;
}




