<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>CAIXAS ELETRÔNICOS</h6>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header>
            ENDEREÇO ATUAL
        </ion-card-header>
        <ion-card-content>
            {{endereco_completo}}
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-card text-wrap *ngFor="let end of endereco_list">
            <ion-card-header>
                {{end.NomeIf}}
            </ion-card-header>
            <ion-card-content>
                {{end.TipoPosto}} - {{end.NomePosto}} {{end.Endereco}} {{end.Numero}} - {{end.Bairro}} - {{end.Municipio}}
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>