<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>TARIFAS</h6>
        </ion-title>
    </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar instituição..."></ion-searchbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col col-12>
                <h4 class="content-title">SELECIONE UMA INSTITUIÇÃO</h4>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-list>
                    <button text-wrap ion-item *ngFor="let inst of institutions" (click)="itemTapped(inst)">
                        {{ inst.Nome }}
                    </button>
                </ion-list>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>