<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>TARIFAS</h6>
        </ion-title>
    </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar"></ion-searchbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col col-12>
                <h5 class="page-title">{{selected_institution}}</h5>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-list>
                    <ion-list-header>
                        Tarifas para {{selected_person}}
                    </ion-list-header>
                    <ion-item text-wrap *ngFor="let inst of institution_rates">
                        <h3>{{inst.Servico}}</h3>
                        <p><strong>Valor máximo:</strong>&nbsp; {{inst.ValorMaximo | currency :'BRL'}}</p>
                        <p><strong>Periodicidade:</strong>&nbsp;{{inst.Periodicidade}}</p>
                        <p><strong>Data de vigência:</strong>&nbsp;{{inst.DataVigencia | amDateFormat: 'DD/MM/YYYY'}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>