<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>TARIFAS</h6>
        </ion-title>
    </ion-navbar>
    <ion-searchbar (keyup.enter)="search($event)" placeholder="Digite o nome da instituição..."></ion-searchbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row *ngIf="(ombudsmanContactList.length == 0)">
            <ion-col col-12>
                <h6 class="content-title" text-wrap>INSIRA O NOME DA INSTITUIÇÃO E PESQUISE PARA OBTER O(S) CONTATO(S) DE OUVIDORIA(S).</h6>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-list>
                    <ion-item text-wrap *ngFor="let ombudsmanContact of ombudsmanContactList">
                        <h3>Nome: {{ombudsmanContact.Nome}}</h3>
                        <h4>Telefone: {{ombudsmanContact.Telefone}}</h4>
                        <p><strong>Ouvidor:</strong>&nbsp;{{ombudsmanContact.Ouvidor}}</p>
                        <p><strong>CNPJ:</strong>&nbsp;{{ombudsmanContact.CNPJ}}</p>
                        <p><strong>Website:</strong>&nbsp;{{ombudsmanContact.WebSite}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>