<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>TARIFAS</h6>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col col-12>
                <ion-img class="img-header" width="24" height="24" src="assets/imgs/icone-selic.svg"></ion-img>
                <h4 class="content-title">Taxa Selic</h4>
                <a href="#" (click)="openModal()">O que é Selic?</a>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <chart [options]="chartOptions" style="display: block" type="chart"> </chart>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>