<ion-header>
  <ion-navbar>
    <ion-title>
      <h6>O que é Selic?</h6>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col col-12>
        <ion-img class="img-header" width="48" height="48" src="assets/imgs/icone-selic.svg"></ion-img>
        <h4>O que é Selic?</h4>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-12>
      
      <p>
        {{text}}
      </p>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-12>

        <button ion-button full (click)="closeModal()">OK</button>
      
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>