<ion-header>
    <ion-navbar>
        <ion-title>
            <h6>TARIFAS</h6>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col col-12>
                <h4 class="content-title">POSTOS DE ATENDIMENTO ELETRÔNICO</h4>
            </ion-col>
        </ion-row>

        <ion-row>
        
            <ion-col col-12>
                <ion-list>
                    <ion-item text-wrap *ngFor="let eleUnit of eletronicUnitsList">
                        <h3>{{eleUnit.NomeIf}}</h3>
                        <h3>{{eleUnit.NomePosto}}</h3>
                        <p>{{eleUnit.Endereco}}, {{eleUnit.Numero}} {{eleUnit.Bairro}}</p>
                        <p>{{eleUnit.Municipio}}, {{eleUnit.UF}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>

        </ion-row>


    </ion-grid>

</ion-content>